@font-face {
  font-family: 'Graphik LC TT';
  src: url(../fonts/GraphikLCG-Regular.woff) format('woff');
  src: url(../fonts/GraphikLCG-Regular.woff2) format('woff2');
  font-style: 400;
  font-weight: normal;
}

@font-face {
  font-family: 'Graphik LC TT';
  src: url(../fonts/GraphikLCG-Semibold.woff) format('woff');
  src: url(../fonts/GraphikLCG-Semibold.woff2) format('woff2');
  font-style: 600;
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/subset-Roboto-Regular.woff) format('woff');
  src: url(../fonts/subset-Roboto-Regular.woff2) format('woff2');
  font-style: 400;
  font-weight: normal;
}