html {
  font-family: 'Graphik LC TT', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #CCCCCC;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1290px;
  margin: 0 auto;
  padding: 28px 0;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 775px;
  gap: 51px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 592px;
  padding: 10px 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

.authorization {
  width: 265px;
}

.btn {
  width: 120px;
  padding: 15px 36px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
  text-align: center;

  border: 1px solid #7F7F7F;
  background-color: #FFFFFF;
  color: black;
}

.btn--primary {
  padding: 15px 21px;
  background-color: #FF6336;
  color: #FFFFFF;
  border: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.promo {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 1290px;
  margin: 0 auto;
  /*flex-basis: 100%;*/
  padding: 115px 0px 147px 0;
}

.promo__title {
  width: 552px;
  margin: 0;
  margin-bottom: 51px;
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
}

.promo_description {
  width: 471px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
}

.btn_position {
  margin-bottom: 25px;
}

.btn_promo--primary {
  width: 160px;
  margin-right: 10px;
  padding: 20px 40px;
  line-height: 60px;
}

.btn_promo {
  width: 160px;
  padding: 20px 29px;
  margin: 0;
  line-height: 60px;
}

.notes {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 35PX;

  color: #000000;
}

.wrap_prim {
  background-color: #FF9C7D;
}

.companies {
  max-width: 1290px;
  margin: 0 auto;
  padding: 96px 0;
}

.companies__title {
  width: 720px;
  margin: 0 285px 70px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;

  color: #000000;
}

.companies__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1290px;
  margin: 0 auto;
  padding: 100px 0 150px;
}

.process__reverse {
  flex-direction: row-reverse;
}

.control__process {
  width: 493px;

  color: #000000;
}

.process__title {
  margin: 0;
  margin-bottom: 30px;
  width: 493px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}

.process__description {
  margin: 0;
  margin-bottom: 30px;
  width: 491px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.process__start {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}

.project {
  width: 632px;
  padding: 200px 100px;

  background-color: #FCF6DF;
}

.wrap_blue {
  background: #C9E8F2;
}

.review {
  display: flex;
  gap: 85px;
  max-width: 1290px;
  margin: 0 auto;
  padding: 40px 0 105px;
}

.text {
  width: 895px;
  color: #000000;
}

.text__description {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.author {
  margin: 0;
  margin-bottom: 7px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.wrap__yel {
  background: #FFF8E4;
}

.list {
  max-width: 1290px;
  margin: 0 auto;
  padding: 120px 0 150px;
}

.list__title {
  margin: 0;
  margin-bottom: 58px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;

  color: #000000;
}

.card__conteiner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 100px;
}

.card {
  width: 344px;
  text-align: center;

  color: #000000;
}

.card__img {
  margin-bottom: 25px;
}

.card__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 22px;
}

.card__description {
  width: 343.81px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.productivity {
  width: 1290px;
  margin: 0 auto;
  padding: 154px 0 180px;
}

.card__center {
  flex-wrap: nowrap;
  gap: 0;
}

.card__left {
  width: 439.98px;
  text-align: left;
}

.card__pad_managers {
  padding: 50px 31px 0 0;
}

.card__pad_develop {
  padding: 67px 31px 0 0;
}

.card__pad_trans {
  padding: 59px 32px 25px 0;
}

.card__descr--prod {
  width: 409px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}

.img_manag {
  margin-bottom: 49px;
}

.img__develop {
  margin-bottom: 67px;
}

.img__trans {
  margin-bottom: 58px;
}

.productivity__notes {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.wrapp_br {
  background: #DABC98;
}

.wrapper__software {
  display: flex;
  max-width: 1290px;
  margin: 0 auto;
  padding: 69px 0 80px;
  align-items: center;
}

.software {
  display: flex;
  gap: 46px;
  width: 809px;
  padding: 20px 125px 4px 0px;
  border-right: 1px solid #000000;
}

.software__title {
  width: 461px;
  padding-top: 27px;
  margin: 0;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
}

.software__item {
  display: flex;
  justify-content: space-around;
  width: 481px;
}

.integrate {
  width: 1290px;
  margin: 0 auto;
  padding: 169px 133px 140px;
  text-align: center;

  color: #000000;
}

.integrate__title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}

.integrate_decsription {
  width: 539px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.integrate__img {
  margin-bottom: 32px;
}

.btn__integrate {
  margin: 0 auto;
  padding: 20px 20px;
  line-height: 60px;
  border: none;
  background-color: #FF6336;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1290px;
  margin: 0 auto;
  padding: 121px 253px 161px;
  background: #FF9C7D;
}

.localization {
  text-align: center;

  color: #000000;
}

.loc__title {
  width: 784px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  margin-bottom: 29px;
}

.loc__description {
  margin: 0 auto;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.loc__btn {
  margin: 0 auto;
  text-align: center;
  padding: 20px 40px;
  border: none;
  color: #FFFFFF;
  background-color: #000000;
}

.wrapp_grey {
  background: #EEEEEE;
}

.footer__container__top {
  border-bottom: 1px solid #7F7F7F;
}

.footer__wrapper_studies {
  display: flex;
  justify-content: space-between;
  width: 1290px;
  margin: 0 auto;
  padding: 92px 0 95px;
}

.studies {
  width: 370px;
}

.studies__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.img__studies {
  margin-bottom: 31px;
}

.img__logo {
  margin-bottom: 11px;
}

.studies__description {
  width: 290px;
  margin: 0;

  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.studies__notes {
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.conteiner {
  width: 850px;
  margin: 0 auto;
}

.menu__studies {
  display: flex;
  gap: 34px;
}

.menu__studies > li {
  flex-basis: 187px;
}

.menu__studies li > ul {
  display: flex;
  flex-direction: column;
}

.menu__studies > li > a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 21px;

  color: #000000;
}

.menu__studies > li > ul a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 15px;

  color: #000000;
}

.footer__container__bottom {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  max-width: 1290px;
  margin: 0 auto;
  padding: 48px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  background: #EEEEEE;
}

.footer_description {
  width: 301px;
  margin: 0;
  margin-right: 700px;
}

.footer__text p {
  margin: 0;
}

.mr_0 {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .header {
    width: 100%;
    padding: 20px 10px;
  }

  .header__container,
  .menu {
    padding: 0px;
  }

  .menu,
  .header__container,
  .navigation {
    width: 100%;
    flex-direction: column;
    gap: 0px;
  }

  .menu {
    margin-bottom: 20px;
  }

  .authorization,
  .btn_position {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .btn {
    width: auto;
    padding: 0;
  }

  .promo {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 45px 10px 10px 10px;
    padding-bottom: 20px;
  }

  .promo__item {
    text-align: center;
  }

  .promo_description,
  .promo__title {
    width: auto;
  }

  .promo__title,
  .integrate__title,
  .studies__title,
  .companies__title {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .promo_description,
  .text__description {
    font-size: 20px;
  }

  .companies {
    padding: 40px 10px;
    width: 100%;
    text-align: center;
  }

  .companies__title {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }

  .companies__item {
    gap: 70px;
  }

  .process {
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 40px;
    padding: 40px 10px;
  }

  .control__process,
  .process__title,
  .process__description,
  .project,
  .list,
  .productivity,
  .list__title,
  .card__description,
  .review,
  .text,
  .wrapper__software,
  .software,
  .software__item,
  .software__title,
  .integrate,
  .integrate_decsription,
  .wrapper,
  .loc__title,
  .footer__wrapper_studies,
  .conteiner,
  .menu__studies,
  .studies__description,
  .footer__container__bottom,
  .studies,
  .footer_description {
    width: auto;
  }

  .process__title,
  .list__title,
  .software__title,
  .loc__title {
    font-size: 35px;
    line-height: 35px;
  }

  .process__description {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .process__start {
    font-size: 15px;
  }

  .project {
    padding: 100px 50px;
  }

  .list,
  .productivity,
  .integrate,
  .wrapper,
  .footer__wrapper_studies,
  .footer__container__bottom {
    padding: 60px 10px;
  }

  .card__conteiner {
    flex-wrap: wrap;
  }

  .card,
  .review,
  .wrapper__software {
    max-width: 100%;
    padding: 30px 10px;
  }

  .card__conteiner {
    gap: 0;
  }

  .card__img,
  .list__title,
  .loc__description {
    margin-bottom: 30px;
  }

  .card__left,
  .software__title {
    text-align: center;
  }

  .review {
    align-items: center;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .wrapper__software,
  .software,
  .footer__wrapper_studies {
    flex-direction: column;
    gap: 40px;
  }

  .software {
    padding: 0;
    border: 0;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .software__title {
    padding: 0;
    margin-bottom: 20px;
  }

  .software__item {
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .btn__integrate,
  .loc__btn {
    display: flex;
    justify-content: center;
  }

  .footer__wrapper_studies {
    align-items: center;
  }

  .studies {
    padding: 15px 25px;
    border-bottom: 1px solid black;
    text-align: center;
  }

  .menu__studies {
    flex-wrap: wrap;
    gap: 70px;
    justify-content: space-around;
  }

  .menu__studies > li {
    flex-basis: 70px;
  }

  .footer__container__bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_description {
    margin: 0;
  }
}

@media screen and (min-width: 454px) and (max-width: 991px) {
  .studies {
    width: 370px;
  }

  .menu__studies {
    gap: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 10px 10px;
  }

  .header__container,
  .navigation,
  .menu {
    flex-direction: row;
  }

  .menu,
  .navigation {
    margin: 0;
    gap: 20px;
  }

  .navigation {
    margin-right: 20px;
  }

  .authorization {
    width: 150px;
    gap: 5px;
  }

  .promo__text,
  .control__process,
  .integrate__title,
  .integrate_decsription,
  .loc__title,
  .loc__description {
    width: 450px;
  }

  .btn {
    width: 150px;
    line-height: 35px;
  }

  .btn_position {
    flex-direction: row;
    justify-content: center;
  }

  .process {
    align-items: center;
    text-align: left;
  }

  .card__center {
    align-items: baseline;
    flex-wrap: nowrap;
  }

  .card__left {
    text-align: left;
  }

  .software {
    flex-direction: row;
    gap: 0;
  }

  .software__title {
    margin: 0;
  }

  .software__item {
    width: 481px;
  }

  .btn__integrate {
    width: 180px;
  }

  .footer__wrapper_studies {
    align-items: flex-start;
    gap: 10px;
  }

  .studies {
    text-align: left;
    border: none;
  }

  .menu__studies {    
    gap: 70px;
  }

  .conteiner {
    padding-top: 20px;
    border-top: 1px solid black;
  }

  .footer__container__bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_description {
    width: 301px;
    margin-right: 300px;
  }
}